/*Footer*/
footer {
  margin-top: 5rem;
}
i.fa.fa-github {
  margin-left: 15px;
  margin-top:5px;
  font-size: 3.5em;
  vertical-align: middle;
}
a.glyphicon.glyphicon-envelope {
  margin-left: 10px;
  margin-top:5px;
  font-size: 2.5em;
  top: 0.5em;
}
/* End Footer*/
body {
  font-family: "Palanquin Dark";
  background-image: url(https://4.bp.blogspot.com/-O90KfBgfnJA/UepU1SmDGyI/AAAAAAAAGh0/zERntzlKFEU/s1600/alpe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  background-color: #f6f6f6;
  opacity: 0.8;
  width: 900px;
  height: 800px;
  box-shadow: 0px 0px 20px #000;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Palanquin Dark";
  color: black;
  font-size: 2em;
  padding-top: 20px;
  text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.5);
  line-height: 1.2em;
}

h3 {
  text-align: center;
  font-family: "Palanquin Dark";
  color: black;
  font-size: 2em;
  padding-bottom: 10px;
  text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.5);
  line-height: 1.2em;
}

.axis path, line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

text.labels {
  font-size: 11px;
  fill: black;
}

.datapoints {
  fill: #0800ff;
  stroke: #999;
}

.doping {
  fill: #ff0800;
}

svg {
  background-color: #f6f6f6;
  opacity: 0.8;
  position: relative;
}

#tooltip {
  text-align: center;
  width: 230px;
  font-size: 13px;
  background-color: silver;
  opacity: 0.2;
  box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  position: absolute;
  transition: 0.2s;
  left: 15%;
  top: 150px;
  z-index: 10;
}
#tooltip p {
  margin: 10px auto;
  line-height: 20px;
}

.labels.info {
  fill: #444;
}
